header {
  background-color: bisque;
  padding: 20px;
  margin: 3px;
  border-radius: 8px;
  border: 3px solid;
  justify-content: center;
  text-align: center;
}

#button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(82, 66, 226);
  width: 250px;
  color: white;
  border: 1px solid rgb(8, 25, 56);
  border-radius: 10px;
  margin: 1%;
padding: 15px;

}

#carrito{
      background-color: rgb(226, 197, 66);
  width: 150px;
  color: rgb(3, 3, 3);
  border: 1px solid rgb(51, 56, 8);
  border-radius: 10px;
  margin: 0.5%;
padding: 5px;
}
